.navbar_logo {
  width: 180px;
  height: 42px;
  object-fit: cover;
}
.navbar_btn {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  width: 204px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  cursor: pointer;
  transition: 0.4s;
}
.navbar_btn:hover {
  background-color: rgb(51, 255, 0);
  color: black;
}
.navbar_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 724px;
  height: 53px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 80px;
}

.navbar_text p {
  position: relative;
  font-size: 1.1rem;
  color: black;
  font-weight: 500;
  margin-left: 25px;
}
.navbar_text p::after {
  content: " ";
  position: absolute;
  right: 1px;
  top: 25px;

  width: 80px;
  height: 3px;
  background: red;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navbar_text p:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navbar_text p:hover {
  cursor: pointer;
  color: red;
}
