.platform_head {
  margin: 0;
  margin-top: 80px;
  text-align: center;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.platform_text {
  margin: 0;
  margin-top: 30px;
  width: 750px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.compo1 {
  width: 165px;
}
.compo1_text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.compo1_img1 {
  background-color: rgb(233, 231, 227);
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.compo1_img2 {
  background-color: rgb(246, 84, 84);
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.com_img {
  position: relative;
  left: 35px;
  top: 20px;
}
.com_img1 {
  position: relative;
  left: 20px;
  top: 20px;
}
.compos {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-left: 150px;
  padding-right: 160px;
}
.compo1_imgs {
  height: 180px;
}

.compo1_img:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px #e9dfc7;
  animation: icon-animation 0.7s infinite linear alternate;
}
.compo1_img1:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px #e9dfc7;
  animation: icon-animation 0.7s infinite linear alternate;
}
.compo1_img2:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px #e9dfc7;
  animation: icon-animation 0.7s infinite linear alternate;
}
.compo1_imgs:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px #e9dfc7;
  animation: icon-animation 0.7s infinite linear alternate;
}
@keyframes icon-animation {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}
