.service_h1 {
  width: 600px;

  margin: 0;
  font-size: 50px;
  font-weight: 900;
}
.service_text {
  font-size: 20px;
  margin: 0;
  width: 511px;
  height: 48px;
}

.box12 {
  width: 367px;
  height: 189px;

  background-color: rgb(234, 7, 7);
  border-radius: 10px;

  color: white;
}
.box_img {
  width: 73px;
  height: 69px;
  object-fit: contain;
}
.box_con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.boxs {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
.service {
  margin-top: 40px;
  padding-left: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* .box1 {
  width: 367px;
  height: 189px;

  background-color: #faeff0;
  border-radius: 10px;

  color: rgb(17, 16, 16);
} */
.box1 {
  width: 367px;
  height: 189px;

  border-radius: 10px;
  background-color: #faeff0;
  color: #060606;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
  overflow: hidden;
}
.box1:hover {
  cursor: pointer;
  color: white;
}
.box1:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 100%;
  width: 120%;
  height: 220%;
  background-color: #f30505;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.6s ease;
}
.box1:hover:before {
  top: -50%;
  right: -10%;
}
